@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700|Source+Sans+Pro:300,400,600,700");

:root {
  --font-heading: "PT Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--font-heading);
}

button,
textarea,
input,
select {
  font-size: inherit;
  font-family: inherit;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
}

a {
  color: inherit;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.top-page {
  display: flex;
  min-height: 498px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/banner-2.jpg) no-repeat center / cover;
}

.top-page .inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  /* flex-grow: 1; */
  min-height: 60px;
  margin-top: 40px;
  align-items: center;
  width: 100%;
}

.header .logo {
  height: 34px;
}

.header .nav {
  display: flex;
  flex-wrap: wrap;
}

.header .nav li {
  position: relative;
}

a {
  font-family: var(--font-heading);
  text-decoration: none;
}

.header .nav a.fon {
  padding: 6px 25px 20px 25px;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.header .nav .sub-menu a {
  display: block;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 200;
  text-transform: capitalize;
  padding: 15px 25px;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease;
}

.header .nav .sub-menu li:hover a {
  color: #fff;
  transform: translateX(5px);
}

.header .nav .sub-menu li:hover {
  background-color: #b80257;
}

.header .nav .sub-menu li {
  min-width: 240px;
  overflow: hidden;
}

.header .nav .sub-menu {
  position: absolute;
  top: 38px;
  left: -5px;
  background-color: #fff;
}

.header .nav .sub-menu {
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: 50% top;
  transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
}

.header .nav li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.sub-menu li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.user-action {
  display: flex;
}

.user-action .action-btn {
  padding: 14px;
  color: #fff;
}

.hero {
  display: flex;
  flex-grow: 1;
  color: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

p {
  line-height: 20px;
}

.hero h1 {
  font-size: 2.4rem;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs a {
  text-decoration: none;
}

.breadcrumbs li + li::before {
  content: " / ";
  padding: 0 10px;
}

.breadcrumbs li {
  display: flex;
  transition: color 0.3s ease;
}

.hero .breadcrumbs li:nth-child(1):hover {
  color: #783df0;
}

.content .feature {
  margin-top: 100px;
  display: flex;
  gap: 20px;
  /* width: 100%; */
}

/* .sidebar {
  flex: 0 0 280px;
  
} */

/* search */

.search-icon,
.courses {
  margin-bottom: 35px;
}

.search-icon {
  display: flex;
  width: 100%;
}

.tran3s {
  text-decoration: none;
  display: flex;
}

.courses ul li {
  border: 1px solid #f2f2f2;
  padding: 10px 25px;
}
.courses ul li:not(:last-child) {
  border-bottom: none;
}

.user-action .search-1,
.user-action .search-1 .fa-solid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-action .search-1 {
  position: relative;
  border: 1px solid #fff;
  min-width: 290px;
  height: 55px;
  background-color: #fff;
  padding: 5px;
}

.search-2 {
  position: absolute;
  top: 90%;
  right: -15px;
  left: auto;
  display: none;
}

.action-btn [type="checkbox"]:checked ~ .search-2 {
  display: block;
}

.user-action .search-1 .fa-solid {
  background-color: #b80257;
  width: 48px;
  line-height: 43px;
  border: 1px solid #fff;
  position: absolute;
  top: 4px;
  right: 5px;
  font-size: 15px;
}

.user-action .action-btn {
  position: relative;
}

.user-action .search-1 input {
  width: 100%;
  height: 100%;
  border: 1px solid #ececec;
  padding: 0 49px 0 10px;
  outline: none;
}

/* .courses .course-sidebar{
    padding-bottom: 15px;
} */

.search-icon {
  border: 1px solid #d5d4d4;
  border-radius: 20px;
}

.search-icon .input-search {
  border: none;
  margin: 10px;
  outline: none;
  width: calc(100% - 60px);
}

.search-icon .fa-solid {
  color: #828282;
  font-size: 15px;
  margin-right: 10px;
}

/* sidebar */
.courses {
  overflow: hidden;
}

.courses .course-sidebar {
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.courses li:hover a.tran3s {
  color: #783df0;
  transform: translateX(5px);
}

.courses li a.tran3s {
  display: block;
  transition: 0.3s ease;
  transition-property: color, transform;
}

.menu-list {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}



.menu-list li a {
  display: inline-block;
  padding: 5px 14px;
  margin: 0px 9px 10px 9px;
  border-radius: 20px;
  background-color: transparent;
  color: inherit;
  transition: 0.5s ease;
  transition-property: color, background-color;
}



.menu-list li .active {
  background-color: #783df0;
  color: #fff;
}

.menu-list li a:hover {
  background-color: #783df0;
  color: #fff;
}

.introduction {
 flex-grow: 1;
}
.sidebar{
min-width: 250px;
}

.introduction .courses-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-action .fa-solid {
  font-size: 1.7rem;
  color: #fff;
}

/* row */
.row {
  margin-top: 70px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
  flex-shrink: 0; 
}

.single-course-grid {
  border: 1px solid #ececec;
  width: calc((100% - (2 * 40px)) / 3);
    flex-shrink: 0; 
  flex-grow: 0; 

}


.single-course-grid .fill > a {
  transition: color 0.5s ease;
}

.single-course-grid:hover .fill > a {
  color: #b80257;
}


.row .img {
  overflow: hidden;
}

.single-course-grid {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}


.row .img img {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: 280px;
  transform: scale(1);
  transition: transform 0.9s ease;
}

.single-course-grid:hover .img img {
  transform: scale(1.1);
  filter: brightness(1.2) saturate(0.5);
}

.row .fill {
  font-weight: 700;
  font-size: 1.8rem;
  flex-shrink: 0;
}


.single-course-grid .text {
  padding: 20px;
  flex-shrink: 0;
  
}

.single-course-grid {
  position: relative;
  overflow: hidden;
}

.single-course-grid .flas {
  position: absolute;
  background-color: #b80257;
  top: -63px;
  right: -54px;
  height: 90px;
  min-width: 150px;
  z-index: 1;
  transform: rotate(33deg);
}

.fa-bolt-lightning {
  position: absolute;
  color: #fff;
  bottom: 5px;
  left: 60%;
}

.text p + * {
  margin-top: 20px;
}

.clearfix {
  display: flex;
  position: relative;
}

.clearfix .float-left:nth-child(2){
  position: absolute;
top: 13px;
left: 100px;

}
.float-right{
  position: absolute;
  top: 10px;
  right: 0;
}


.float-left,
.clearfix .fa-solid {
  color: #828282;
}

.float-left,
.float-right {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.text .fa-user,
.float-left img {
  margin-right: 10px;
}

.float-left img {
  border-radius: 50%;
}

.float-right a {
  border: 1px solid;
  border-radius: 50px;
  width: 65px;
  padding: 8px;
  display: flex;
  justify-content: center;
  color: #fff;
}

.float-right a {
  background-color: #b80257;
  transform: translateY(-3px);
}

.float-right a {
  position: relative;
  transition: transform 0.2s ease;
}

.float-right a.free {
  background-color: #783df0;
}

.float-right a:hover {
  transform: translateY(-7px);
  /* box-shadow: 0 30px 10px -8px rgba(0, 0, 0, 0.5); */
}

.float-right a::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 5%;
  height: 15px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  transition-duration: 0.3s;
}

.float-right a:hover::before {
  opacity: 1;
}

/* course-pagination */

.course-pagination ul {
  display: flex;
  gap: 20px;
  margin: 70px 0;
}

.course-pagination ul a {
  border: 1px solid #dddddd;
  padding: 5px 10px;
  border-radius: 5px;
  color: #dddddd;
  transition: 0.3s ease;
  transition-property: color, border;
}

.course-pagination ul a.active,
.course-pagination ul a:hover {
  border: 1px solid #783df0;
  color: #783df0;
}

.course-pagination ul a.kitt {
  border: 1px solid #783df0;
  background-color: #783df0;
  color: #fff;
}

/* bar */
.fa-bars{
  font-size: 28px;
  color: #fff;
}

.sib {
  position: absolute;
  left: 5px;
  top: 80px;
}

/* footer */
.footer {
  background-color: #151515;
  height: 100%;
}

.footer-btn {
  display: flex;
  /* flex-wrap: nowrap; */
  gap: 20px;
  padding: 80px 0;
}

.footer-logo {
  flex: 0 0 22%;
}

.footer-list {
  flex: 0 0 calc((42% - 180px) / 3);
}

.footer-list-end {
  flex: 0 0 22%;
}

.footer-logo,
.footer-list,
.footer-list-end {
  padding-bottom: 50px;
  margin: 0 20px;
}

/* .footer-logo , .footer-list{
  padding: 80px;
} */

.footer-list .trans3 {
  text-decoration: none;
  white-space: nowrap;
}

.footer-logo .footer-logo,
.footer-list p,
.footer-list-end p {
  margin-bottom: 30px;
}
.footer-logo p,
.footer-list-end p {
  display: flex;
  /* flex-wrap: wrap; */
}

.footer-list ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-logo p {
  margin: 25px 0;
}

.footer-logo ul {
  display: flex;
  gap: 20px;
}

.footer-list .fonte,
.footer-list-end .fonte {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}

.footer-list li a,
.footer-list p + p,
.footer-logo p,
.footer-list-end {
  color: rgba(255, 255, 255, 0.6);
}

.footer-list li a {
  transition: color 0.3s ease;
}

.footer-list li a:hover {
  color: #b80257;
}

.logo-s1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.logo-s1 [type="checkbox"]:checked ~ .nav {
  display: block;
}

.footer-list-end input {
  border-radius: 99px;
  background-color: #272727;
  min-height: 40px;
  padding: 0 20px;
  caret-color: #fff;
  border: 1px solid #272727;
}

.footer-list-end input:focus {
  outline: none;
  box-shadow: none;
}

.rectangle-out {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  padding: 10px 30px;
  border-radius: 99px;
  background-color: #b80257;
  color: #fff;
  z-index: 0;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.rectangle-out::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  border-radius: 99px;
  scale: 0;
  transition: scale 1s;
  transition: scale 0.4s ease;
}

.rectangle-out:hover::before {
  scale: 1;
}
.rectangle-out:hover {
  color: #b80257;
}

.footer-list-end input {
  border-radius: 99px;
  background-color: #272727;
  min-height: 40px;
  padding: 0 20px;
  caret-color: #fff;
  border: 1px solid #272727;
}

.footer-list-end input:focus {
  outline: none;
  box-shadow: none;
}

html,
body {
  scroll-behavior: smooth;
}

.scrollc .fa-chevron-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.scrollc a i {
  width: 40px;
  height: 40px;
  background-color: #b80257;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
